h1 {
        color: rgb(0, 120, 141);
        /* padding: 0vh; */
}





input[type=submit],
input[type=reset],
input[type=option] {

        background-color: transparent;
        border: chartreuse;
        border: solid 1px orange;
        color: rgb(255, 208, 0);
}

input[type=submit]:hover {

        background-color: yellow;
        color: rgb(36, 29, 1);
}

.cars {
        border-color: #f44336;
}

::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(97, 97, 97);
        /* Firefox */
}

.button1 {
        background-color: transparent;
        border: chartreuse;
        border: solid 1px rgb(180, 117, 0);
        color: rgb(82, 100, 0);
}

.port {
        background-color: transparent;
        border: chartreuse;
        border: solid 1px rgb(33, 114, 0);
        color: rgb(100, 57, 0);
}






.card_switch {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: rgba(46, 46, 46, 0.648);
}

.card-body {

        border-radius: 12px 12px 12px 12px;
}

/* On mouse-over, add a deeper shadow */

h2 {
        color: rgb(57, 245, 0);

}

div p6 {
        color: rgb(242, 248, 188);
}

div p3 {
        color: rgb(255, 102, 0);
}

div p5 {
        color: rgb(228, 0, 76);
}

/* https://blogfonts.com/download/p-53339-1/Predator.file */
div p4 {
        color: #2196F3;
}

.numb {
        color: #28f321;
}

div p6 {
        color: wheat;
}

input[type=text] {
        border: 1px solid rgb(184, 204, 0);
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
}


/* Style the tab */
.tab {

        /* background-color: rgba(0, 0, 0, 0.698); */
        background-color: transparent;
}

.tablinks {
        display: inline;
}

/* Style the buttons inside the tab */
.tab button {

        background-color: transparent;
        color: rgb(160, 160, 160);
}

/* Change background color of buttons on hover */
.tab button:hover {
        background-color: rgb(63, 63, 63);
}

/* Create an active/current tablink class */
.tab button.active {

        border-radius: 12px 12px 0px 0px;
        background-color: rgba(0, 0, 0, 0.698);
        color: rgb(0, 195, 255);
}

/* Style the tab content */
.tabcontent {
        /* background-color: rgb(0, 0, 0); */

        border-radius: 0px 0px 12px 12px;
        background-color: rgba(0, 0, 0, 0.698);
}


.switch_led {
        background-color: rgb(0, 0, 0);
}